In [2]:
#importando a biblioteca pandas no notebook
import pandas as pd

In [63]:
# lendo Folha de Pagamento da Empresa de Tecnologia da Prefeitura de São Paulo do primeiro semestre de 2021
# fonte: http://dados.prefeitura.sp.gov.br/dataset/folha-de-pagamento-prodam
df = pd.read_excel("/content/drive/MyDrive/Projeto_Python_Pandas/prodam.xlsx")

In [64]:
#verificando os tipos de dados
df.dtypes

EMPRESA                    object
MÊS                         int64
ANO                         int64
NOME                       object
CARGO                      object
LOTAÇÃO                    object
ADMISSÃO           datetime64[ns]
NASCIMENTO                  int64
VENCIMENTOS               float64
ENCARGOS                  float64
BENEFÍCIOS                float64
VÍNCULO                    object
DETALHE VÍNCULO            object
dtype: object

In [65]:
df.sample(1)

     EMPRESA  ...                               DETALHE VÍNCULO
4290  PRODAM  ...  Não concursado ocupante de cargo em comissão

[1 rows x 13 columns]

In [67]:
#TOTAL DE VENCIMENTOS POR MES
df.groupby("MÊS")["VENCIMENTOS"].sum()

MÊS
1    11671240.74
2    11127785.52
3    11435162.19
4    12377940.31
5    11104063.13
6    13034984.89
Name: VENCIMENTOS, dtype: float64

In [68]:
#Consultando linhas com valores nulos
df.isnull().sum()

EMPRESA            0
MÊS                0
ANO                0
NOME               0
CARGO              0
LOTAÇÃO            0
ADMISSÃO           0
NASCIMENTO         0
VENCIMENTOS        0
ENCARGOS           0
BENEFÍCIOS         0
VÍNCULO            0
DETALHE VÍNCULO    0
dtype: int64

In [72]:
df["VENCIMENTOS"].max()

470391.46

In [73]:
#top 3 receitas
df.nlargest(3, "VENCIMENTOS")

     EMPRESA  MÊS  ...    VÍNCULO                               DETALHE VÍNCULO
3190  PRODAM    4  ...  Desligado  Concursado NÃO ocupante de cargo em comissão
1550  PRODAM    2  ...  Desligado  Não concursado ocupante de cargo em comissão
657   PRODAM    1  ...  Desligado  Concursado NÃO ocupante de cargo em comissão

[3 rows x 13 columns]

In [81]:
# 3 piores vencimentos
df.nsmallest(3, "VENCIMENTOS")

     EMPRESA  ...                               DETALHE VÍNCULO
432   PRODAM  ...  Não concursado ocupante de cargo em comissão
1239  PRODAM  ...  Não concursado ocupante de cargo em comissão
2021  PRODAM  ...  Não concursado ocupante de cargo em comissão

[3 rows x 13 columns]

In [82]:
#Ordenando o conjunto de dados
df.sort_values("VENCIMENTOS", ascending=False).head(10)

     EMPRESA  ...                               DETALHE VÍNCULO
3190  PRODAM  ...  Concursado NÃO ocupante de cargo em comissão
1550  PRODAM  ...  Não concursado ocupante de cargo em comissão
657   PRODAM  ...  Concursado NÃO ocupante de cargo em comissão
5223  PRODAM  ...  Não concursado ocupante de cargo em comissão
1733  PRODAM  ...  Concursado NÃO ocupante de cargo em comissão
4220  PRODAM  ...      Concursado ocupante de cargo em comissão
512   PRODAM  ...  Não concursado ocupante de cargo em comissão
4429  PRODAM  ...      Concursado ocupante de cargo em comissão
3896  PRODAM  ...  Não concursado ocupante de cargo em comissão
1021  PRODAM  ...  Concursado NÃO ocupante de cargo em comissão

[10 rows x 13 columns]